; Copyright (c) Cognitect, Inc.
;; All rights reserved.

{:paths ["src" "resources"]
 :deps {com.cognitect/anomalies {:mvn/version "0.1.12"}
        com.datomic/client-cloud {:mvn/version "1.0.137"}
        com.datomic/ion {:mvn/version "1.0.71"}
        org.clojure/clojure {:mvn/version "1.11.4"}
        org.clojure/data.json {:mvn/version "2.4.0"}
        org.eclipse.jetty/jetty-http {:mvn/version "12.1.11"}}
 :mvn/repos {"datomic-cloud" {:url "s3://datomic-releases-1fc2183a/maven/releases?region=us-east-1"}}}
