{:allow [;; transaction functions
         datomic.ion.starter/create-item

         ;; query functions
         datomic.ion.starter/feature-item?
         ]            
 :lambdas {:echo
           {:fn datomic.ion.starter/echo
            :description "Echos input"}
           :get-tutorial-schema
           {:fn datomic.ion.starter/get-tutorial-schema
            :integration :api-gateway/proxy
            :description "returns the schema for the Datomic docs tutorial"}
           :add-item
           {:fn datomic.ion.starter/add-item
            :description "adds an inventory item, using a tx fn"}
           :get-items-by-type
           {:fn datomic.ion.starter/get-items-by-type
            :description "HTTP handler that returns items by type"}
           :items-by-type-ionize
           {:fn datomic.ion.starter/items-by-type-ionize
            :integration :api-gateway/proxy
            :description "ionized version of items-by-type"}}
 :http-direct {:handler-fn datomic.ion.starter/items-by-type}
 :app-name "stu"}

